[2016-05-06 09:48] utf8please opened #1 "/etc/init.d/mongod conflicts with /etc/init.d/mongos on server reboot"
I used this script some time ago to deploy a mongo cluster. The parameters were 2 shards, each replicated.

Everything had been working fine, until three days ago `PrimaryReplicaNode10` rebooted for some reason beyond my knowledge. And that node started running `mongod` on 27017 instead of `mongos`.

This caused some trouble in the application layer, because the application did not notice the diff

[2016-07-30 02:35] yuganghu opened #2 "Unable to access Mongo cluster in vpc from web service node"
I was able to create a mongodb cluster with mongndb-vpc.template with CloudFormation. I can access PrimaryReplicator node on 27017 from ssh, however unable to access from outside, because the only node exposed to public is the NAT node, which did not expose the port 27017 port. Can someone help?

I have web services running in EC2. I am wondering how I can access MongoDB from my EC2 instance (in w

[2016-12-09 10:01] Erni opened #5 "MongoDB version should be updated"
MongoDB available versions in the template are 2.6 and 3.0 only. 3.0 version dates back from March 2015. I think that the template should allow also to work with current stable version already (3.4.2 today).

[2017-01-12 09:47] Erni commented on #5
Fixed by #6

[2017-01-12 09:47] #5 closed, assigned to nobody

[2017-02-12 13:52] alexraju91 opened #8 "Disable Transparent Huge Pages"
Need to disable THP for best performance with MongoDB

https://docs.mongodb.com/manual/tutorial/transparent-huge-pages/

[2017-04-11 15:00] vsnyc commented on #8
This will be fixed in the next release.
Commit:
https://github.com/vsnyc/quickstart-mongodb/commit/eac7e0c905e2913819569b9b4cbf1f496a3261f1

[2017-04-11 15:00] #8 closed, assigned to nobody

[2017-05-17 16:11] tonynv commented on #1
@vsnyc If this issue is resolved with the last update please close

[2017-05-17 16:11] tonynv commented on #2
@vsnyc If this issue is resolved with the last update please close

[2017-05-17 16:15] vsnyc commented on #1
Sharding option has been removed from the quick start. This can be closed

[2017-05-17 16:15] #1 closed, assigned to vsnyc

[2017-05-24 18:48] tjhall13 opened #14 "1 node setup with mongo 3.4.4 fails to rs.initiate()"
With mongo 3.4.4 rs.initiate() fails. rs.initiate() should be called with a parameter to explicitly set up the replica.

Error:
{
	"info2" : "no configuration specified. Using a default configuration for the set",
	"me" : "ip-10-1-17-132:27017",
	"ok" : 0,
	"errmsg" : "No host described in new configuration 1 for replica set s0 maps to this node",
	"code" : 93,
	"codeName" : "InvalidReplicaSetConf

[2017-05-24 19:17] tjhall13 commented on #14
manually running this mongo function on my instance directly is a work around:
`rs.initiate({ _id: 's0', version: 1, members: [{ _id: 1, host: '10.1.17.132:27017', priority: 10 }] })`

[2017-06-29 14:25] vsnyc commented on #14
Thank you for reporting this, the issue is now fixed.

[2017-06-29 14:25] #14 closed, assigned to nobody

[2017-06-29 14:27] vsnyc commented on #2
Please review the revised architecture guide and [VPC setup.](https://aws.amazon.com/quickstart/architecture/vpc/). Connectivity from EC2 nodes can be achieved by placing them in the private subnets.

[2017-06-29 14:27] #2 closed, assigned to vsnyc

[2017-08-22 11:07] khiyani opened #16 "rs.initiate() failed in mongo 3.4"
{
        "ok" : 0,
        "errmsg" : "No host described in new configuration 1 for replica set #### maps to this node",
        "code" : 93,
        "codeName" : "InvalidReplicaSetConfig"
}

[2017-08-23 16:14] vsnyc commented on #16
Is this reproducible? Could you provide the parameters used?

[2017-09-05 14:49] vsnyc commented on #16
@khiyani, following up on the reported issue. Could you provide the cloudformation template name and parameters used to reproduce this? Thanks.

[2017-09-05 14:52] khiyani commented on #16
Hi Vinod,

Thanks for the follow up. The issue has now been fixed.

Regards,
Rohith Khiyani
Associate Professional-Programmer Analyst, Big Data And Analytics

T Extn: 743117
M Mobile: 9014095626

DXC Technology
Building #4, Mindspace,
Hyderabad,500081

dxc.technology<http://www.dxc.technology/> / Twitter<https://twitter.com/dxctechnology> / Facebook<https://www.facebook.com/DXCTechnology/> / Linke

[2017-09-05 14:57] vsnyc commented on #16
Great, appreciate the update. I'll resolve it.

[2017-09-05 14:57] #16 closed, assigned to nobody

[2017-09-11 16:52] Jaspereclipse opened #17 "what is the purpose of orchestrator.sh when launching MongoDB to VPC"
Hi,

A while ago I used your quick-start template to launch 3 MongoDB instances to a new VPC. Later on, I take a look at the scripts and find that the orchestrator.sh performs a lot of operations during stack creation to interact with DynamoDB. But after the creation, I did not see anything that has been created in DynamoDB in the same region.

So what's the purpose of using DynamoDB and when will

[2017-09-11 18:21] vsnyc commented on #17
Hi Juanyan,

The orchestrator.sh script is used to bootstrap the mongodb replica set. A new table is created at the beginning of installation. Mongodb nodes register their IP addresses in the table, the designated primary node uses that information to build the replica set. Once the replica setup is complete and tested, the primary mongodb node deletes the table by executing the following line in

[2017-09-11 18:21] #17 closed, assigned to nobody

[2017-09-19 17:44] Jaspereclipse opened #18 "Possible buggy code in orchestrator.sh opt parsing"
Hi,

When orchestrator.sh tries to parse the opts (see below),  there are two options with the same char "-i" - one used for initiating the environment and the other one used for inserting a new key-pair value into DynamoDB.

I was trying to modify the code by inserting a new key-pair value during setup but it turned out that `getopts`  cannot tell `-i` from `-i key=value`.

I would suggest using

[2017-11-16 18:49] vsnyc commented on #18
This is fixed. insert/update for new_item_pair key is changed to 'u'

[2017-11-16 18:49] #18 closed, assigned to nobody

[2017-12-05 12:38] rcra90 opened #19 "Opening port range 27017-27030"
Is there a reason for opening ports 27017 to 27030 on node instances, when MongoDB only uses 27017-27019 according to this part of the documentation? https://docs.mongodb.com/manual/reference/default-mongodb-port/

If the ports aren't used, isn't it unnecessary to open them?

Line 337-338 in https://github.com/aws-quickstart/quickstart-mongodb/blob/master/templates/mongodb.template

[2018-01-15 09:52] theodore-q opened #20 "Are these templates going to be updated to support sharding on 3.6"
The mongo sharding template; mongodb-database-sharded.template. only supports mongodb 3.2 and has no outputs. Are there any plans from the amazon team to bring it up-to-date and add outputs?

[2018-01-15 16:28] vsnyc commented on #20
The current version of the mongodb quick start (https://aws.amazon.com/quickstart/architecture/mongodb/) only supports building a 3 node replica set cluster.

Setting up a shared replica set is not in scope. I will clean out the repository and remove files that are not in use.

Thanks
Vinod

[2018-01-15 16:33] #20 closed, assigned to nobody

[2018-01-31 01:20] shree007 opened #22 "In public subnet , it is not working"
when I am creating my primary in public subnet and secondaries replica in private , it is not working.

any suggestion ?

Thanks

[2018-02-19 16:52] r2690698 opened #23 "error with signalFinalStatus.sh"
The script signalFinalStatus.sh dose not run as expected, stopping the build process from completing with success.

signalFinalStatus.sh: line 5: $'\r': command not found
signalFinalStatus.sh: line 6: $'\r': command not found
signalFinalStatus.sh: line 12: syntax error near unexpected token `$'{\r''

[2018-02-20 14:39] r2690698 commented on #23
This is cased ny CRLF line endings.

vi

 :%s/cntrl+vcntrl+m//g

[2018-02-20 14:39] #23 closed, assigned to nobody

[2018-02-26 19:44] erincerys opened #24 "403 Forbidden for s3://quickstart-reference/mongodb/latest/scripts/init.sh"
`orchestrator.sh` and `signalFinalstatus.sh` are fine, but `init.sh` began throwing this error over the weekend. This looks to be an issue on the bucket side, since the template specifies IAM allow for `s3:*` on the instance role.

[2018-02-27 00:58] vsnyc commented on #24
That file was deprecated and causing confusion, so I have removed it. How were you using the file?

See https://github.com/aws-quickstart/quickstart-mongodb/blob/master/templates/mongodb-node.template#L342, the quick start is using init_replica.sh that exists in the repo and in the s3 bucket.

[2018-02-27 01:02] vsnyc commented on #19
A previous version of the quick start had the option of creating several micro shards (multiple mongod instances running on a server at different ports) and hence opened up the above port range. I'll revisit the security group setting and see what can be  fixed.

[2018-02-27 02:13] erincerys commented on #24
We had copied a previous version of the quickstart template to use in our own system. This deprecation broke new stack creation for our development team since we did not copy the initialization scripts into our own bucket. I have done this now, since we had the files on an existing instance, but this deprecation led to some lost productivity today. I suppose I should not have expected backwards co

[2018-02-27 16:28] vsnyc commented on #24
It is difficult for us to keep supporting prior versions, although you can fork and tag a particular commit to be on the version you have been using. In addition, if you make modifications that you think are going to benefit the community and would like to contribute back, pull requests are welcome.

We have put some work into making the quick starts portable so you can take the code and stage in

[2018-02-27 16:28] #24 closed, assigned to nobody

[2018-02-28 02:34] vsnyc commented on #22
Ideally you should be running the mongo instances in private subnets. However I tested the setup you mentioned and it worked fine as well (see screenshot below). What kind of issue did you run into? I ran the [AWS VPC quick start](https://aws.amazon.com/quickstart/architecture/vpc/) (for VPC setup), [Linux bastion quick start](https://aws.amazon.com/quickstart/architecture/linux-bastion/) (for bas

[2018-02-28 03:14] shree007 commented on #22
Actually there were problem with bind ip and security group. I resolved.

Thanks for your valuable answer Sir.

Thanks

Shree Prakash

On 28 Feb 2018 8:04 am, "Vinod Shukla" <notifications@github.com> wrote:

[2018-02-28 18:53] vsnyc commented on #22
Great, I'll close out the issue.

[2018-02-28 18:53] #22 closed, assigned to nobody

[2018-02-28 19:50] adanklefsensection opened #25 "Getting a Secondary1NodeSubnet template fail with default settings."
Deploying in Ohio region with 3 AZ, changing size from 400 to 25; everything else is default. Getting:

Parameter 'Secondary1NodeSubnet' must match pattern subnet-[0-9a-z]{8}

[2018-02-28 19:53] vsnyc commented on #25
What was the id of the Secondary1NodeSubnet that you selected?

[2018-02-28 19:55] adanklefsensection commented on #25
![image](https://user-images.githubusercontent.com/32719791/36809901-30d1df94-1c7e-11e8-8ca1-78681ec1cb30.png)

[2018-02-28 19:58] adanklefsensection commented on #25
Used the 'Quickstart for new VPC here'

https://docs.aws.amazon.com/quickstart/latest/mongodb/step2.html

[2018-02-28 20:01] vsnyc commented on #25
I see. Do you happen to have the stack still up? If you go to the nested VPCStack in CloudFormation console and look at the Outputs tab, what is the value of PrivateSubnet2AID and PrivateSubnet3AID?

[2018-02-28 20:18] vsnyc commented on #25
This is likely happening because the AWS account is opted in for [longer resource ids](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/resource-ids.html). I'll check in a fix and comment when the issue is resolved.
Thanks for reporting this!

[2018-02-28 20:25] adanklefsensection commented on #25
Very awesome, that's probably exactly what it is. I did opt in for longer resource ids. Good looking out!

[2018-02-28 23:00] vsnyc commented on #25
This is now fixed, please try again.

[2018-02-28 23:00] #25 closed, assigned to nobody

[2018-03-01 17:59] adanklefsensection commented on #25
Got further in the chain:
![image](https://user-images.githubusercontent.com/32719791/36860815-3057e900-1d37-11e8-9b95-ce6f9123e3f8.png)

[2018-03-01 19:36] adanklefsensection opened #26 "Failed to create PrimaryReplicaNode0"
Making a new thread since the other is closed:

Original Thread: https://github.com/aws-quickstart/quickstart-mongodb/issues/25#issuecomment-369413974

Current Problem:
https://user-images.githubusercontent.com/32719791/36860815-3057e900-1d37-11e8-9b95-ce6f9123e3f8.png

Got further in the chain, making sure this isn't due to longer ID's as well.

[2018-03-01 19:37] adanklefsensection commented on #26
Default with + changed instance to m3.medium and 25 GB in size.

[2018-03-03 22:42] adanklefsensection commented on #26
Closing this issue, due to not having that instance type in region.

[2018-03-03 22:42] #26 closed, assigned to nobody

[2018-03-22 16:07] LihoyKozak opened #27 "Issue with run replicas"
Hello,

I need your help with set the replicas.
I have used this template for long time just for 1 node.

Now I need to create replicas. But when I set the Cluster Replica Set Count from 1 to 3, cloudformation create instances but cannot create replicas. Also it cannot cleanup, and then delete my replica nodes.

Changes:
![screen shot 2018-03-22 at 5 55 58 pm](https://user-images.githubusercontent

[2018-03-23 08:49] LihoyKozak commented on #27
Understand now. I can create stack with 1 or 3 nodes. But can't create stack with 1 node and then increase it to 3 nodes.

[2018-03-23 08:49] #27 closed, assigned to nobody

[2018-04-05 19:53] renatomjr commented on #27
It would be great if we could start with 1 node and then upgrade to 3 without recreating the stack.

[2018-04-06 15:11] vsnyc commented on #27
It is difficult to do that with a cloudformation update command. If you already have a 1 node stack up, then you could use launch the mongodb-node.template twice to spin up two new nodes in the same VPC and then join the new instances with the current 1 node as a replica set. Read more here: https://docs.mongodb.com/v3.4/tutorial/expand-replica-set/

[2018-05-04 17:11] willks opened #30 "Q: Reattach existing volumes"
Thanks for the scripts. Is there a scenario for a "host death" to handle re-attaching existing data volumes like StatefulSets in Kubernetes? Seriously, in my line of work I've got to handle both. When server dies in GCP GKE, we just re-attach to existing Stateful drive automatically. Could not find a procedure here to handle that scenario in  AWS. Any help appreciated (through CloudFormation).

[2018-05-13 22:53] jlk opened #31 "Description for secondary subnets reads "Primary""
Just noticed a small bug in templates/mongodb.template - pretty sure this should read "Secondary node(s)":

[code]

[2018-05-30 09:06] Bessonov commented on #30
Unfortunately, I think this is not possible on aws automatically. Instead of this you can use aws cli to discover, create and mount volumes in EC2's UserData/Cloud::Init with AutoScalingGroup. A lite version for static EC2 would be like (pseudo code):

[code]
And for EC2-Instance:
[code]

[2018-05-30 15:42] #31 closed, assigned to nobody

[2018-05-30 15:44] vsnyc commented on #30
@willks In this case, the mongodb instances are setup with [EC2 auto-recovery](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-recover.html) so that should automatically happen.

[2018-06-25 07:06] daniyel opened #33 "Problem with updating yum, when deploying in private subnet"
Hi.

I adopted the CloudFormation templates a little bit since I already have VPC set up and I do not need bastion Host so basically I would like to deploy one instance on development environment and 1 primary and 2 secondary for production. I am trying to deploy everything in private subnet, but my deploy always fail with `The following resource(s) failed to create: [PrimaryReplicaNode0WaitForNod

[2018-06-26 21:27] vsnyc commented on #33
Could you post the logs showing failure messages? Is it failing for mongodb installation or even before that at `yum -y update`? Does the instance have internet connectivity?

[2018-06-28 15:04] #30 closed, assigned to nobody

[2018-06-29 11:35] matt-croft opened #34 "Q: Is there a way to create encrypted ebs volumes"
When using the cloud formation template there is no way to set the volumes to be encrypted from what i can tell, is there a way to do this after creation if created?

Or is there an easier way to modify the stack to add this in?

[2018-07-02 04:41] vsnyc commented on #34
Right now the quick start template does not provide this option, though I think it will be a good addition.

The easiest way to accomplish this would be to add `Encrypted: True` property to the BlockDeviceMappings section for the three configured EBS volumes prior to launching the template.

https://github.com/aws-quickstart/quickstart-mongodb/blob/b6cf713d9a91c5c1092e69d317c653e85994b04f/template

[2018-07-02 08:46] matt-croft commented on #34
Thanks for you the reply, i looked into this and after doing some reading i was able to produce the stack with encrypted EBS volumes,

Would be nice to see this get added soon.

[2018-07-02 19:54] vsnyc commented on #34
I've added Encryption to EBS volumes at commit: https://github.com/aws-quickstart/quickstart-mongodb/commit/4c8b44c6f406b1a607c591b8abf951e759dad6c7

[2018-07-02 19:54] #34 closed, assigned to nobody

[2018-07-12 02:38] viniciusnz commented on #33
Same here...

![screenshot from 2018-07-11 23-37-00](https://user-images.githubusercontent.com/1224288/42609521-62419170-8563-11e8-9b91-96ec3d997b62.png)

I waited for one hour and it didn't go... Using an s3 copy of the master of this repo...

[2018-07-16 00:19] alphafoobar opened #35 "Master merge appears to have lost scripts/disable-transparent-hugepages"
This appears to be still required here: https://github.com/aws-quickstart/quickstart-mongodb/blob/master/templates/mongodb-node.template#L366

Was this intentionally removed?

[2018-07-16 00:44] vsnyc commented on #35
Thanks for pointing this out. Yes the file should be there, I'll add it shortly.

[2018-07-16 01:40] vsnyc commented on #35
Fixed at commit 3c2d9ee0aa3a4f90198ad287eed576cf5945a66a

[2018-07-16 01:40] #35 closed, assigned to nobody

[2018-07-16 01:45] vsnyc commented on #33
@viniciusnz Did it fail for you also at `yum -y update`? For troubleshooting this further, could you disable CloudFormation rollback so you can go into the EC2 instances and inspect `cfn-*` log files in `/var/log/` on the three instances, you can start with the primary replica node?

Further, I'd just add that we tests the quick starts regularly, this quick start is passing successfully in multipl

[2018-07-19 20:44] kevmimcc opened #36 "Update for MongoDB 4.0"
It would be great if this would support MongoDB 4.0

[2018-07-23 13:54] vsnyc commented on #36
Added in commit: ec884f0cfa66f0d5ace7a84dbf2d6be8ea8eda87

[2018-07-23 13:54] #36 closed, assigned to nobody

[2018-07-23 21:24] kevmimcc commented on #36
Thank you!!

[2018-08-01 09:36] zamkp opened #37 "Regarding the s3 setup in the cloudformation script"
Hi
I am new in cloud formation and have the following queries  below please help me to sort out this

1) Why are we using dynamo-db is it necessary to run the mongo replication set ? How can I remove the dynamo-db from part from the cloud formation script?

How can I use my own s3 bucket instead of aws-quickstart what are the steps that I need to follow?

[2018-08-01 13:37] vsnyc commented on #37
## Purpose of dynamodb table

Take a look at usage of orchestrator script within init_replica.sh. Dynamodb table is used for a few things:

1. Primary node creates the dynamodb table
2. Each node add its own ip address and status as WORKING. Primary waits for at least 3 nodes in WORKING status and then saves the IP addresses.
3. Each node marks its status as FINISHED after mongod service has been

[2018-08-02 08:34] zamkp commented on #37
Thanks a lot.

 In this cloudformation template, the role has full s3 access to all buckets (line 446). How can I restrict the access to the single bucket? Also can you tell me what this policy is doing in this template?

Please help me

[2018-08-02 13:18] vsnyc commented on #37
Hi, I'm reviewing the `MongoDBNodeIAMRole` and will update the template.

[2018-08-02 17:45] vsnyc commented on #37
I've updated the role permissions at commit: c086a750174226c6b6bea5e53ee89b3fd353088a. Please open a new issue if you have any further questions.

[2018-08-02 17:45] #37 closed, assigned to vsnyc

[2018-08-17 14:52] zamkp commented on #37
Thanks  for you update

I have the following queries below please help me to sort out this

1) Backup – how do we handle the backup?

2)  If one of the instances becomes decommission how will we recreate this node to have 3-node-cluster again?
3) How can we prevent losing all data?

4) How can we upgrade the mongo version in future?

[2018-08-17 17:16] vsnyc commented on #37
@zamkp Please open a new issue for each independent questions in future. Resolved issues can sometimes go unnoticed.

You could schedule EBS snapshot backups. See this for details. https://docs.mongodb.com/manual/core/backups/

What is this referring to? A EC2 host failure or an user action? If it is the former the EC2 instances are setup with autorecovery. See this issue for details: https://gith

[2018-10-10 05:13] likedan opened #38 "BastionSecurityGroup creation failed for unknown reason"
I'm trying to create a mongo cluster on a new VPC. Somehow, the script always fail as this error, which I don't understand why.

CREATE_FAILED | AWS::CloudFormation::Stack | BastionStack | Embedded stack arn:aws:cloudformation:us-east-1:139587094038:stack/FashionMongoDB-BastionStack-YKHO65CGR2OP/e49790d0-cc48-11e8-b1c6-503aca2616fd was not successfully created: The following resource(s) failed to

[2018-10-10 14:15] vsnyc commented on #38
Could you post the full log? It is possible that you are hitting a limit error and may have to put in a request to increase the number of Elastic IPs for your account.

[2018-10-10 16:01] likedan commented on #38
It somehow worked once I switched to a different reason. There must be some weird configuration with that particular region. Thanks!

[2018-10-10 16:01] #38 closed, assigned to nobody

[2018-11-02 06:01] likedan opened #39 "Can't change Volume size?"
<img width="1734" alt="screen shot 2018-11-02 at 12 58 59 am" src="https://user-images.githubusercontent.com/8799955/47896236-82479980-de3a-11e8-894b-df10cfe32ea7.png">
Somehow I can upgrade the EBS volume size through the stack, each time I try to do so, I get rolled back. I can make other change such as changing the instance type. Can't figure out what's the problem with upgrading volume.

[2018-12-06 16:19] tioback opened #40 "S3 error: Access Denied - when running template through CloudFormation web Console"
I'm getting the following message when I try to run the template through CloudFormation's web console:

    S3 error: Access Denied For more information check
    http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

I tried filling out the form in two different ways: providing a new s3 bucket and prefix and providing existing bucket and prefix. Still I got the same error and the res

[2018-12-07 03:33] vsnyc commented on #40
Need more detail on this. When you launch the Quick Start from the official launch page:
https://aws.amazon.com/quickstart/architecture/mongodb/

You can choose one of these two options and you can keep the default bucket names, don't have to provide your own.

1. [Deploy into a new VPC](https://fwd.aws/Kxy33)
2. [Deploy into your existing VPC](https://fwd.aws/av6d6)

<img width="891" alt="screen

[2019-02-11 15:59] MrPeker opened #41 "Can I use T3/T2/A1 instances?"
Hi, can I use T3/T2/A1 instances?

[2019-02-11 16:52] #40 closed, assigned to nobody

[2019-02-11 16:59] vsnyc commented on #41
Yes, you can use T3 and T2 without any issues. Since A1 is ARM based, it may or may not work, please try and let us know your feedback.

If you'd like to work with these instance types, follow the steps below.

1. Follow these steps in the Quick Start Contributor's Guide: [Make the Quick Start your own](https://aws-quickstart.github.io/option1.html)
2. Modify `NodeInstanceType` in all the three te

[2019-02-20 12:39] #41 closed, assigned to nobody

[2019-02-27 09:50] cirrushq-karan opened #42 "Changing node name tag breaks template"
Hello, in your mongodb.yaml template there's a parameter called ReplicaNodeNameTag which defines the name of the node. I found that changing this seems to cause the CloudFormation to eventually timeout. It seems orchestrator.sh becomes stuck in an infinite loop and the log just says "Waiting for Master to create table..". I wanted to name my nodes along the lines of db-primary0.mydomain.com, db-se

[2019-03-14 16:53] anderspalm opened #43 "Problem with scripts deploying MongoDb on the instances"
When I deploy the CFT from the link provided in the Quick Start documentation, the IGW, VPC, Subnets, Bastion, and Instances spin up fine. What I don't see is any MongoDB database having been installed on the instance(s).

I tried to run the shell commands that are present in the mongodb-node.yaml file manually in the master EC2 instance and I ran into access denied (so I changed the commands to s

[2019-03-19 19:57] youssefxyz commented on #43
Same problem here

Any insight ????

[2019-03-22 20:12] vsnyc commented on #43
I just tested this and wasn't able to reproduce the error.

Stack creation:
![Screen Shot 2019-03-22 at 3 58 17 PM](https://user-images.githubusercontent.com/624297/54849699-66467680-4cbb-11e9-87ac-450aa201ce5d.png)

Verification steps:
1. Add the key pair to my ssh agent so I don't have to copy it to the bastion host.
2. Login to the bastion host using ec2-user and IP address of the bastion host

[2019-03-22 20:26] vsnyc commented on #43
@anderspalm and @youssefxyz

Could you provide more info about your setup? Did you deploy the standard 3-node replica set that I tested above? Please provide the following information to troubleshoot further:

1. Parameters used to deploy the stack. If you use the aws cli and [jq](https://stedolan.github.io/jq/) tool, the following command will give that information. If not using jq, you can copy

[2019-03-26 17:21] anderspalm commented on #43
Hi Vinod, thanks for reaching out.

I followed as you said, it was what we have already done and it worked fine, so I am not sure why it did not work for my colleagues and I last week. The only change was setting the --password and --username parameters when entering the mongo console.

[2019-03-26 17:44] vsnyc commented on #43
@anderspalm thanks, appreciate the confirmation.

@youssefxyz I'll proceed to resolve this, feel free to open a new issue with more information.

[2019-03-26 17:44] #43 closed, assigned to vsnyc

[2019-06-01 00:21] busylee opened #44 "Is there a way to change the storage engine from “wiredTiger” to “mmapv1”?"
The storage engine of MongDB on my instance looks “wiredTiger”.  but I want to change the storage engine from “wiredTiger” to “mmapv1”.
Is there anyone who can help me? please guide for me.

[2019-06-04 12:55] proton1k commented on #39
@likedan did you find out? Was the issue related to drift-detection?

[2019-06-04 12:56] proton1k commented on #42
Hi @cirrushq-karan, did you resolve this question?

[2019-06-04 14:01] vsnyc commented on #42
Sorry for the delay. Yes, right now the script requires the node name to start with `Primary...`, see this code:

https://github.com/aws-quickstart/quickstart-mongodb/blob/master/scripts/init_replica.sh#L56-L68

I can update the regex: https://github.com/aws-quickstart/quickstart-mongodb/blob/master/scripts/init_replica.sh#L23, to accept values like `db-primary0.mydomain.com`

If we change this li

[2019-08-13 16:11] lecong commented on #40
I have the same error

I download this repo upload to my bucket with folder name quickstart-mongodb but error not resolve

Please help me fix it

[2020-03-17 21:04] mzarnawski opened #46 "MongoDB QuickStart timeout and rollback"
Currently Mongo DB deployment times out at node creation. The reason for this is that node template attempts to copy some files from S3 bucket to which it has no access.
For example EC2 instance has access policy to S3 bucket aws-quickstart-eu-central-1 and bootstrap scripts attempts to download script from bucket aws-quickstart. As a result bootstrap script fails, signal final status is never exe

[2020-03-17 21:34] vsnyc commented on #46
@mzarnawski Thanks for reporting this. We recently did a change, see commit: https://github.com/aws-quickstart/quickstart-mongodb/commit/75313beb8a5297b9f4a10962b997c1d9c4e6b45f to use regional buckets and S3 SigV4 that has resulted in this. I have added a fix: https://github.com/aws-quickstart/quickstart-mongodb/commit/3938ab1846fd2c342b6dbe56df93998dd1bdf3f9 to resolve this. The change will auto

[2020-03-17 21:45] mzarnawski commented on #46
Thanks @vsnyc
That should work. I hope you merge this soon because as of now, Mongo DB stack cannot be deployed unless fixed locally.

[2020-03-17 21:58] mzarnawski commented on #46
BTW, don't you think it would be reasonable to disable the link on QuickStarts web page:
https://docs.aws.amazon.com/quickstart/latest/mongodb/welcome.html
or give some warning in the situation when you know that it is not going to work ?

[2020-03-17 23:01] vsnyc commented on #46
@mzarnawski The change is merged and deployed to S3, please retry.

[2020-03-17 23:04] vsnyc commented on #46
That should usually not happen. The master branch code is the one that has passed our testing.  In this case, looks like the CloudFormation templates had passed without error. We do periodically test all quick starts. See the [latest run](https://s3.amazonaws.com/aws-quickstart-reports/develop/quickstart-mongodb/index.html).

[2020-03-17 23:04] #46 closed, assigned to nobody

[2020-03-17 23:11] #33 closed, assigned to nobody

[2020-03-18 10:05] mzarnawski commented on #46
@vsnyc You should really check the tests and/or testing environment because there is no way that the changes deployed on 14th March could pass the tests - they should fail 100% cases.

Also I think you should follow the contributing guidelines for this repo and create an issue for the problem you are working on. Because if you don't, there is no way of knowing for me that this is a known issue tha

[2020-03-18 13:30] vsnyc opened #47 "Improve error handling to fail the stack if bootstrap scripts can't be downloaded"
See the reported issue https://github.com/aws-quickstart/quickstart-mongodb/issues/46. Although the problem is fixed, we can add error handling to catch such issues and fail the stack.

[2020-03-18 13:31] vsnyc commented on #46
@mzarnawski - appreciate the feedback. So there are two items to discuss and address here.
1. The changes deployed on March 14th did indeed pass CloudFormation test (i.e. stack was successfully created) and hence got merged and pushed. The fact that the mongodb cluster wasn't operational after the install didn't get caught, which leads to my next point.
2. We could have had better error handling i

[2020-03-18 13:38] mzarnawski commented on #46
Ad. 1
This is so strange because for me only the nested stack was completed and parent stack was not completed and finally rolled back after timeout. So again some more checks would be needed in the tests.

[2020-04-15 08:18] salander0411 opened #48 "Bastion Auto scaling group: received 1 FAILURE signal(s) out of 1"
[Bastion Auto scaling group] received 1 FAILURE signal(s) out of 1. Unable to satify 100% MinSuccessfulInstancesPercent requirement.

I'm using launch mongodb into a new VPC
region: us-east-1 / ap-northeast-1 , all failed with the same failure message above.
mongo version : 4.0
s3 folders all using the default ones, I only revise mongo password & username etc.

[2020-04-15 08:39] salander0411 commented on #48
seems like that cannot download file from:

https://aws-quickstart-us-east-1.s3.us-east-1.amazonaws.com/quickstart-mongodb/scripts/bastion_bootstrap.sh

please help to confirm.

Also, why bastion_bootstrap.sh is not uploaded to github scripts/ folder?  It's hard for users to troubleshooting or revise because we cannot get this file

[2020-04-15 09:55] kpiyush17 opened #49 "Accessing database using elastic ip"
Hi,

I have created the mongodb cluster using cloud formation templates. Now, I want to access the db from the internet. For that, I have added an elastic IP to all 3 nodes. I also added my public IP to allow inbound rules in the security group. But I am not able to access the database using the elasticIP:27017.

What could be the problem?

Thanks

[2020-04-15 14:17] vsnyc commented on #48
@salander0411 Could you explain how you launched this? The set of parameters used will be helpful to begin with. The path to bastion_bootstrap.sh script that you have is incorrect, the expected path should be the below and the file exists.

https://aws-quickstart-us-east-1.s3.us-east-1.amazonaws.com/quickstart-mongodb/submodules/quickstart-linux-bastion/scripts/bastion_bootstrap.sh

Relevant lines

[2020-04-15 14:31] vsnyc commented on #49
By default, the MongoDB cluster is created in private subnets and the route tables don't allow for inbound internet access. The outbound access is through the NAT Gateway, see [this](https://github.com/aws-quickstart/quickstart-aws-vpc/blob/master/templates/aws-vpc.template#L2276-L2288).

What you're trying is not a recommended best practice, but if you are doing it only for testing, you can deplo

[2020-04-15 14:35] kpiyush17 commented on #49
@vsnyc

Thanks for the reply. I will try the given approach. Actually our requirement includes accessing the database from multiple regions, that's why we need outside access.

[2020-04-15 15:52] kpiyush17 commented on #49
@vsnyc

I tried the public subnet way and I am able to connect it through the subnet. Also, while updating the subnet, I have to change the replica set hosts to public IPs instead of private IPs to make it work.
This process changes the primary node.
After connecting to the mongodb, I ran `db.stats()`, and getting the following output:
[code]
I am not sure, why fsTotalSize is showing 0. Need some

[2020-04-15 19:59] vsnyc commented on #49
I wonder if it because the DB was just initialized and no actions were done. Is it reproducible? What happens if you run the following commands in sequence.
[code]

I'm seeing a non-zero value.
[code]

[2020-04-16 06:27] salander0411 commented on #48
Hi @vsnyc , the script is a personal guess as I failed to launch the template yesterday. After your explanation I have checked the cloudformation parameter again to find that the replicaSet is the default 3 while I only choose 2 AZs which leads to the failure. Thanks for you quick response and patience : )

[2020-04-16 06:27] #48 closed, assigned to nobody

[2020-04-16 16:24] kpiyush17 commented on #49
@vsnyc

Yes switching to admin lets me see the `totalSize`. Thanks for that.

So, If I want to install mongodb enterprise instead of community. Can I do that with the template? Same goes for the version, the template has max version of 4.0 of mongodb, I am looking for 4.2.

Also, in the template there is option of choosing replica set between 1 or 3. So choosing 1 will install a standalone server

[2020-04-16 17:03] vsnyc opened #50 "Add support for MongoDB 4.2"
Add support for MongoDB 4.2

[2020-04-16 17:05] vsnyc commented on #49
This Quick Start supports the community version, but you should be able to take the code and make it work with the enterprise version. We have a contributor's guide that describes the process you need to follow for [customizing the Quick Start][1].

All quick starts are community supported. Let me know if you would be interested in making the update to support 4.2 and create a pull request. I've o

[2020-04-16 17:06] #49 closed, assigned to nobody

[2020-04-17 19:28] kpiyush17 opened #51 "Setting replica set members to 1 still asking for secondary nodes"
Hi,

The quickstart provides options to choose from 1 or 3 member replica set.
I believe choosing 1 will create a standalone mongodb converted into replica set, right?
But, why it is mandatory to choose the secondary node's subnet if I am cluster replica set count as 1?

Thanks

[2020-04-17 19:54] vsnyc commented on #51
Good question. It's because of the type of the parameter. To prevent the risk of typing errors, the parameter is not a `String` type rather `"AWS::EC2::Subnet::Id"` and hence we cannot give it a default value, e.g., `""`. Thus, you must supply a value for it. You can supply any subnet ID in the VPC, it won't get used. You may even repeat the primary subnet ID twice if you have only one subnet.

[c

[2020-04-17 19:58] kpiyush17 commented on #51
So, in the end, there will be one node?

What about this?

[2020-04-17 20:26] vsnyc commented on #51
Yes.

Choosing 1 node will create a single member replica set.

[2020-04-17 20:34] kpiyush17 commented on #51
Thanks for the help. Closing the issue.

[2020-04-17 20:34] #51 closed, assigned to nobody

[2020-04-23 19:33] vitor-kato opened #52 "Help connecting to instances"
Hello, I'm having some difficulty in connecting to the database using the NAT gateway. Being kinda new to the aws resources.

How should I proceed to connect from the outside (internet) to the database?

[2020-04-23 21:10] vitor-kato commented on #52
Tried to connect using: mongodb://USER:PASS@gateway/
Not sure because we are using a replicaset if the connection string is in another format?

[2020-05-04 11:49] salander0411 opened #53 "Why all the AMIs are customized instead of standard Linux AMI?"
This is not an issue actually.. wondering why all the AMIs are customized community AMIs? How are the AMIs different from standard ones, say any pre-installed softwares?

I have tried to launch it in standard AMIs but failed, it seems auto scaling cannot receive cfn success signal. Could you kindly explain on that? Thanks!

[2020-05-05 04:27] vsnyc commented on #52
The connection string should look like below as documented in [MongoDB docs][1].

mongodb://`<AdminUser`:`<Password>`@`<PrimaryReplicaNodeIp>`:27017, `<SecondaryReplicaNode0Ip>`:27017, `<SecondaryReplicaNode1Ip>`:27017/?authSource=admin&replicaSet=`<MyReplSet>`

Based on your question on how to connect from outside, I'm assuming you already knew that.

The short answer is that you should not be do

[2020-05-05 04:34] vsnyc commented on #53
We're not using customized community AMI, instead we're using standard Amazon Linux AMI to do the deployment.

Not sure, which AMI did you try?

[2020-05-05 07:23] salander0411 commented on #53
For example, in linux-bastion.template,  the AMI mapping is

[us-east-1]
AMZNLINUX2: ami-0a887e401f7654935
AMZNLINUXHVM: ami-0e2ff28bfb72a4e45

both of which are community AMI. The standard AMI in this region is ami-0323c3dd2da7fb37d  for AMAZON LINUX 2.

[2020-05-05 15:10] vsnyc commented on #53
This is not quite right. Taking Amazon Linux 2 as an example both `ami-0a887e401f7654935` and `ami-0323c3dd2da7fb37d` are standard Amazon Linux 2 AMIs. `ami-0323c3dd2da7fb37d` happens to be the latest one, released on April 4. `ami-0a887e401f7654935` was released on February 12.

We do have an automated process that updates the AMIs periodically. We can check why the bastion quick start hasn't upd

[2020-05-05 15:45] salander0411 commented on #53
Got it! Thanks so much for your explanation

[2020-05-05 15:45] #53 closed, assigned to nobody

[2020-05-08 20:29] #52 closed, assigned to nobody

[2020-06-02 16:48] alejandro-kid opened #54 "S3 error: Access Denied"
I created a role with full access to VPC, S3 and especific S3::bucket created to store data, and this error still appear:
Logical ID   |           Status             |                                  Status reason

VPCStack   | CREATE_FAILED    |  S3 error: Access Denied For more information check http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

[2020-06-13 18:05] ismailyenigul commented on #50
Hi,

I modifed the template for Amazon Linux 2 with mongodb 4.2
I submitted a PR and it is available in my fork at https://github.com/ismailyenigul/quickstart-mongodb/tree/mongo42-amazonlinux2

[2020-06-17 17:58] vsnyc commented on #50
Thank you @ismailyenigul - I'll review the PR.

[2020-06-23 08:59] frank622 opened #56 "Add support for hk region(ap-east-1)"
Add support for hk region(ap-east-1)

[2020-07-03 14:00] mzarnawski opened #57 "Handling change of AZs number"
After the Mongo stack (version with with new VPC) is created, subsequent update of the stack with increase of the AZs from 2 to 3 results in the following behaviour:
- one of the Mongo secondary replicas is created in the new availability zone and the old one is terminated
- the whole stack update finishes with success (false positive)
- the newly created replica is not fully functional, the orche

[2020-07-08 12:47] vsnyc commented on #57
@mzarnawski  - Thanks, Mikolaj! This is very helpful information, thank you for documenting this.

[2020-07-08 12:47] #57 closed, assigned to nobody

[2020-07-08 13:50] mzarnawski commented on #57
@vsnyc May I know what is the reason for closing this ? Is it solved, or not worth solving or do you think the workaround is just enough ?

[2020-07-08 14:17] vsnyc commented on #57
@mzarnawski This quick start does not support CloudFormation stack update operation, there are several unknowns and what you've figured out is just one of several use cases where it does not work by default. It would certainly be worth solving holistically, but the update behavior for CloudFormation is heavily dependent on the update operation of the underlying resources. And given the stateful na

[2020-07-08 14:21] mzarnawski commented on #57
@vsnyc Thanks ! I appreciate your letting me know.

[2020-07-14 05:07] vsnyc commented on #56
Support for `ap-east-1` AWS Region has been added via #59

[2020-07-14 05:07] #56 closed, assigned to nobody

[2020-07-14 05:09] vsnyc commented on #50
Addressed in PRs #55 and #58

[2020-07-14 05:09] #50 closed, assigned to nobody

[2020-07-30 20:17] HatBeardZero opened #60 "4.0 works but 4.2 does not with the same parameters"
I tried setting up 2 stacks, one with 4.0 and one with 4.2 and the 4.2 consistently fails, where the 4.0 works the first time.

i'm using the existing vpc option.

WaitCondition timed out. Received 0 conditions when expecting 1

The following resource(s) failed to create: [PrimaryReplicaNode0WaitForNodeInstall, SecondaryReplicaNode0WaitForNodeInstall, SecondaryReplicaNode1WaitForNodeInstall]. . Ro

[2020-08-10 20:56] vsnyc commented on #54
If you are trying to launch from your own S3 bucket, this should help: https://aws-quickstart.github.io/option1.html.

What was the role for, to launch CloudFormation template? If yes, you'll need more access than just VPC and S3.

[2020-08-10 21:30] vsnyc opened #61 "Remove Amazon-Linux-HVM as default value for BastionAMIOS"
Quick start is failing due to Linux bastion submodule update

[2020-08-10 21:32] #61 closed, assigned to nobody

[2020-08-10 22:30] vsnyc commented on #60
This is not reproducible, in our CI we are testing with 4.2 as the default option and that works for us. I also tested it manually and wasn't able to reproduce the error. Can you test this in a new VPC possibly in a different region to ensure it's not something within your VPC/account limits that is causing the error?

![Screen Shot 2020-08-10 at 5 23 38 PM](https://user-images.githubusercontent.c

[2020-09-01 05:48] Kadan7 opened #64 "Installation unsuccessful while using mongo v3.6 [both existing vpc and new vpc mode]"
I met installation error while using this to install mongo 3.6, in us-east-1 and us-east-2, with existing vpc and new vpc mode:
1. the primary node and secondary node can be launched
2. logon with ssh, no mongo was installed
3. cloudformation error swith omething like "waitforinstallation handler"

however, it was success with version 4.2

[2020-09-03 15:06] #54 closed, assigned to nobody

[2020-09-03 15:07] #60 closed, assigned to nobody

[2020-09-03 15:12] vsnyc commented on #64
@Kadan7 - thanks for the report. It is possible that something has changed when we moved to Amazon Linux 2 and v4.2 as the default. Looking at the PR: https://github.com/aws-quickstart/quickstart-mongodb/pull/55/files, I think it is the `baseurl` path.

http://repo.mongodb.org/yum/amazon/2/mongodb-org/3.6/x86_64/ does not exist.

[2020-09-04 04:18] vsnyc commented on #64
This has been fixed in PR #65. Please retry and open a new issue if you run into anything else.

[2020-09-04 04:18] #64 closed, assigned to nobody

[2020-10-13 08:42] abinasroy opened #66 "How to call all the parameters in put given in main deployment new /exiting yaml"
please give a sample how to execute the yaml with input parameters.

[2020-10-14 06:37] abinasroy commented on #66
any update?

[2020-10-14 14:15] vsnyc commented on #66
@abinasroy - It is the same process that you would normally use to pass the parameters to any CloudFormation template. See  the [API documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_CreateStack.html) and [CLI reference](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/create-stack.html).

In short, if using the AWS CLI, it would look like below. C

[2020-10-16 09:13] lzh88998 opened #67 "mongodb.template is not compatible with China mainland regions"
There are hard coded service principal and partition in code. Which lead to failure during deployment in China mainland region.

Replace the following code in mongodb.template:

"ec2.amazonaws.com"
replace with:
{"Fn::Sub":"ec2.${AWS::URLSuffix}"}

"Fn::Sub": "arn:aws:dynamodb:${AWS::Region}:${AWS::AccountId}:table/*MONGODB_*"
replace with:
"Fn::Sub": "arn:${AWS::Partition}:dynamodb:${AWS::Region}

[2020-11-05 05:11] vsnyc commented on #66
Closing this as answered.

[2020-11-05 05:11] #66 closed, assigned to nobody

[2020-11-05 05:13] vsnyc commented on #67
@lzh88998  - thanks for reporting. Would you be willing to test the suggested edits and make a pull request?  See our [contributor's guide](https://aws-quickstart.github.io/option2.html) for details.

[2020-11-09 10:05] salander0411 commented on #67
Hi  @vsnyc , please check https://github.com/nwcdorg/quickstart-mongodb for deployment in China regions [BJS & ZHY]

[2020-11-18 22:17] kumar0 opened #71 "It is throwing up error in Mumbai Region"
Hi

I have tried this CF template for Mumabi region but didnt work. for us-west-1 it worked.

[2020-11-19 03:06] vsnyc commented on #71
@kumar0 It works fine in our testing. What was the error you encountered?

[2020-11-19 08:27] kumar0 commented on #71
Probably its AZ problem
I have tried with all in same AZ ap-south-1c it worked... guess its 1a error

![image](https://user-images.githubusercontent.com/5521144/99640379-b5205280-2a40-11eb-9926-8c18ae53e849.png)

![image](https://user-images.githubusercontent.com/5521144/99633954-a2ede680-2a37-11eb-88ad-d3f2303eea00.png)

[2020-11-19 08:27] kumar0 commented on #71
Probably its AZ problem
I have tried with all in same AZ ap-south-1c it worked... guess its 1a error

![image](https://user-images.githubusercontent.com/5521144/99640379-b5205280-2a40-11eb-9926-8c18ae53e849.png)

![image](https://user-images.githubusercontent.com/5521144/99633954-a2ede680-2a37-11eb-88ad-d3f2303eea00.png)

[2020-11-25 10:18] #71 closed, assigned to nobody

[2020-11-25 10:18] kumar0 commented on #71
Issues was with AZ not the code

[2020-12-14 02:29] salander0411 opened #72 "add support for 4.2"
add support for 4.2

[2021-02-10 16:43] emilian-kolev opened #73 "Add support for 4.4"
Hello,

Would it be possible to update the template and add support for MongoDB 4.4?

[2021-04-30 15:37] Energon89 opened #74 "DynamoDB tables are not dropped"
Hello. Thanks for your work.
We found some flaw)
We created a stack, then deleted it, and wanted to create another one with the same name and vpс. However, we got an error, because the instance was trying to connect to the wrong IP address. It turns out DynamoDB tables are not dropped when the stack is deleted. When we dropped the old tables, the problem was resolved.
Please pay attention to this.

[2021-05-03 11:08] Energon89 opened #75 "Connect to replica set"
Please tell me how to connect to db as a replica set?

[2021-05-03 14:50] #75 closed, assigned to nobody

[2021-07-02 00:14] murffious opened #76 "Uses a deprecated template"
Stack ID
arn:aws:cloudformation:us-east-1:ACCT:stack/MongoDB-VPCStack-DOJCIWFSLGIL/d5af9df0-dac9-11eb-838d-12717722e021
Description
DEPRECATED: This template has been deprecated in favor of the 'aws-vpc.template.yaml`, and is no longer being maintained. This template creates a Multi-AZ, multi-subnet VPC infrastructure with managed NAT gateways in the public subnet for each Availability Zone. You c

[2021-07-08 09:34] sadecesabri commented on #73
is there any info about the support of MongoDB v4.4 of this template ?
thanks.

[2021-08-04 03:39] michaelfortunato opened #77 "Documentation Error: m3.medium type does not work for single replica node configuration."
When configuring the template, if you select the ec2 type to be m3.medium, the cloudformation will fail to create the primary replica node. I suggest m3.medium be removed from the choice of ec2 types.

Here are the parameters you can use for the template to recreate the error.
AvailabilityZones | us-east-2a,us-east-2b | -
-- | -- | --
BastionAMIOS | Amazon-Linux2-HVM | -
BastionInstanceType | t3.m

[2021-08-27 13:06] AshNat12 opened #78 "init.sh script failing with AccessDenied for DynamoDB:scan"
We are running the init_replica.sh script manually inside the server , We see that Script is throwing exception

An error occurred (AccessDeniedException) when calling the Scan operation: User: arn:aws:sts::xxx:assumed-role/MongoNode-dev/i-xxx is not authorized to perform: dynamodb:Scan on resource: arn:aws:dynamodb:us-east-1:xxx:table/MongoNode-dev

EC2  iam role has all the DynamoDB permissions.

[2022-01-11 09:35] Anoop-k-c opened #79 "quickstart failing while creating mongoDB RS"
We are facing issue while deploying quickstart along with customized json templates.

The MongoDB child stack is failing to send a success message (signalFinalStatus) back  to parent stack to complete setup.
Due to this, the parent stack will fail with an error "WaitCondition timedout".

DynamoDb endpoint from target VPC were removed. However we are able to create the resources without DynamoDB en

[2022-01-25 19:39] vsnyc commented on #72
Added in https://github.com/aws-quickstart/quickstart-mongodb/commit/ce06fd234435a3a807dcc84ba667ae2c25793ae4

[2022-01-25 19:39] #72 closed, assigned to nobody

[2022-11-07 12:11] noname77 commented on #42
This is old, but since its still open and valid:

I had a similar issue. I didn't wan't to have a permanent **Primary** string in a node name as the node type can change in case of failures.

I modified the mongodb QuickStart to include a new `InitialNodeType` tag which is used instead of the `Name` in init_replica.sh script

With my fork you can set the values of `ReplicaNodeNameTag` to your liki